/************ WORLD **************/
@font-face {
  font-family: 'AnonymousPro';
  src: url('fonts/AnonymousPro-Regular.ttf')
}

body {
  font-family: 'AnonymousPro';
  margin: 0;
  padding: 0;
  cursor: url('https://cur.cursors-4u.net/nature/nat-2/nat112.cur'), auto !important;
}

.center {
  display: block;
  margin: auto;
}

/************ PUTRI MALU **************/

.page-one {
  background-image: url('bg/putrimalu4.gif');
  background-size: cover;
  height: 100vh;
  /* padding: 0; */
  margin-top: 15vh;
}


#waterfall {
  border: 3px solid #000;
  /* margin-top: 50%; */
}

#legs {
  position: absolute;
  bottom: 9%;
  right: 7%;
  height: 285px;
}

#door {
  position: absolute;
  bottom: 4%;
  right: 6%;
  /* z-index: 1; */
}

/************ DEER FLYING BUTTERFLY **************/

.page-two {
  background-image: url('bg/butterflies3.gif');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#butterfly-jump {
  position: fixed;
  right: 0;
  bottom: 0;
}

/************ SUNNY DAY **************/

.page-three {
  background-image: url('bg/sunnyday2.gif');
  background-size: cover;
  height: 100vh;
  /* padding: 0; */
  margin-top: 15vh;
}

/************ CLOTHESLINE ENTRY **************/

.page-four {
  background-color: pink;
  background-image: url('bg/clothesline-in-front-of-house.gif');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
  /* padding: 0; */
  margin-top: 15vh;
}

#drip {
  top: 0;
  position: absolute;
}
/************ WATEER **************/

.page-five {
    background-color: black;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
 float: left;
 width: 33.33%;
 opacity: 0.4;
 line-height: 0px;
}

.column img {
  /* width: 100%; */
  width: 100%;
  height: 33.33vh;
}

/* Clear floats after image containers */
.row::after {
 content: "";
 clear: both;
 display: table;
}

#rundeer {
  position: absolute;
  width: 20%;
  z-index: 2;
}

/************ Title **************/
.title-pg {
  background-color: #111;

  text-align: center;
}

.title-pg h1 {
  margin: 0;
  color: pink;
  font-size: 5em;
  font-family: 'Esteban', serif;
  font-weight: normal;
}

.centerbox {
  padding: 40px;
  /* margin: auto; */
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  width: 400px;

  border: 1px solid pink;
  box-shadow: 0 0 8px pink;

}

.centerbox p {
  color: white;
}

/************ LIGHTHOUSE **************/
.lighthouse {
  background-image: url('bg/lighthouse.gif');
  background-size: cover;
  width: 100vh;
  margin: 0 auto;
  /* padding: 0; */
}
